<template>
  <div class="hello">
    {{ info }}
  </div>
</template>

<script>
import axios from 'axios'
// import qs from 'qs'

export default {
  name: 'HelloWorld',
  data () {
    return {
      info: null
    }
  },
  methods: {
    formatPrice (value) {
      // let val = (value / 1).toFixed(2).replace('.', ',')
      // return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      if (value === 0) {
        return '-'
      } else {
        let val = (value / 1).toFixed(2).replace(',', '.')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      }
    }
  },
  mounted () {
    // const options = {
    //   method: 'POST',
    //   accept: 'application/json',
    //   url: 'http://10.100.60.84:8529/ncbCorporate/getNcbData',
    //   data: qs.stringify({'trackingNo': '20190312T150059'})
    // }
    // axios(options).then(function (result) {
    //   console.log(result)
    // })
    const data = {'trackingNo': '20190312T150059'}
    const headers = {
      'Content-Type': 'application/json'
    }
    axios.post('http://10.100.60.84:8529/ncbCorporate/getNcbData', data, {headers: headers})
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=Sarabun');
.hello {
  font-family: 'Sarabun', sans-serif;
}
</style>
