<template>
  <div class="home">
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>
      <table>
        <thead>
          <tr>
            <th>Tracking Code</th>
            <th>Application No.</th>
            <th>ID Number</th>
            <th>Comany Name</th>
            <th>Data Soruce</th>
            <th>Hit Flag</th>
            <th>Create By</th>
            <th>Search Date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data in info[0]" :key="data.id" :id="data.applicationNo" v-on:click="sentToExecutive(data.applicationNo)">
            <td>{{ data.trackingNo }}</td>
            <td>{{ data.applicationNo }}</td>
            <td>{{ data.companyId }}</td>
            <td>{{ data.companyName }}</td>
            <td>{{ data.dataSource }}</td>
            <td>{{ data.resultStatus }}</td>
            <td>{{ data.createBy }}</td>
            <td>{{ data.searchDate }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</template>

<script>
import list from '../json/list.json'

export default {
  name: 'Home',
  data () {
    return {
      info: list.results,
      id: '',
      message: ''
    }
  },
  methods: {
    sentToExecutive: function (applicationNo) {
      console.log(this.$params)
      this.$params.applicationNo = applicationNo
      console.log(this.$params)
      this.$router.push('/executive')
    }
  },
  mounted () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=Sarabun');
.home {
  font-family: 'Sarabun', sans-serif;
  table {
    width: 100%;
    border: 1px solid #000000;
    th,td {
      border: 1px solid #000000;
    }
    tbody{
      tr:hover {
        background-color: red;
        color: white;
        cursor: pointer;
      }
    }
  }
}
</style>
