<template>
  <div class="json_reader">
    <table id="summary-credit-by-member">
      <thead>
        <tr>
          <th scope="col" rowspan="2">Creditor/<br>Account Type</th>
          <th scope="col" colspan="3" :key="'summary-credit-by-member-account-type'+index" v-for="(account_type, index) in summary_credit_by_member_account_type_list">
            {{account_type}}
          </th>
        </tr>
        <tr>
          <template v-for="(index) in summary_credit_by_member_account_type_list">
            <th scope="col" :key="'summary-credit-by-member-cl-col'+index" >
              C/L
            </th>
            <th scope="col" :key="'summary-credit-by-member-os-col'+index" >
              O/S
            </th>
            <th scope="col" :key="'summary-credit-by-member-overdue-col'+index" >
              Overdue
            </th>
          </template>
        </tr>
      </thead>
      <tbody>
        <tr :key="'summary-credit-by-member-row'+index" v-for="(creator, index) in summary_credit_by_member_creator_list">
          <th  style=" white-space: nowrap">{{creator}}</th>
          <template v-for="(account_type,index) in summary_credit_by_member_account_type_list">
            <td v-if="summary_credit_by_member[creator] && summary_credit_by_member[creator][account_type] && summary_credit_by_member[creator][account_type].cl" scope="col" :key="'summary-credit-by-member-cl-'+creator+'-'+index">
             {{summary_credit_by_member[creator][account_type].cl}}
            </td>
            <td v-else scope="col" :key="'summary-credit-by-member-cl-'+creator+'-'+index">
             -
            </td>

            <td v-if="summary_credit_by_member[creator] && summary_credit_by_member[creator][account_type] && summary_credit_by_member[creator][account_type].os" scope="col" :key="'summary-credit-by-member-os-'+creator+'-'+index">
             {{summary_credit_by_member[creator][account_type].os}}
            </td>
            <td v-else scope="col" :key="'summary-credit-by-member-os-'+creator+'-'+index">
             -
            </td>

            <td v-if="summary_credit_by_member[creator] && summary_credit_by_member[creator][account_type] && summary_credit_by_member[creator][account_type].overdue" scope="col" :key="'summary-credit-by-member-overdue-'+creator+'-'+index">
             {{summary_credit_by_member[creator][account_type].overdue}}
            </td>
            <td v-else scope="col" :key="'summary-credit-by-member-overdue-'+creator+'-'+index">
             -
            </td>
          </template>
        </tr>
      </tbody>
    </table>
    <br><hr><br>
    <table id="hp-port-unitmake">
      <thead>
        <tr>
          <th scope="col">Unit Make</th>
          <th scope="col">Unit Model</th>
          <th scope="col">Total Account</th>
          <th scope="col">Active Account</th>
          <th scope="col">O/S (Baht)</th>
          <th scope="col">C/L (Baht)</th>
        </tr>
      </thead>
      <tbody>
        <tr :key="'hp-port-unitmake-row'+index" v-for="(item, index) in hp_port_unitmake">
          <th>{{item.unitMake}}</th>
          <td>{{item.unitModel}}</td>
          <td>{{item.totalAccount}}</td>
          <td>{{item.activeAccount}}</td>
          <td>{{item.os}}</td>
          <th>{{item.cl}}</th>
        </tr>
        <tr>
          <th>xxx</th>
          <td>xxx </td>
          <td>xxx</td>
          <td>xxx</td>
          <td>xxx</td>
          <th>xxx</th>
        </tr>
        <tr>
          <th>Grand Total</th>
          <th> </th>
          <th>{{total_hp_port_unitmake.totalAccount}}</th>
          <th>{{total_hp_port_unitmake.activeAccount}}</th>
          <th>{{total_hp_port_unitmake.os}}</th>
          <th>{{total_hp_port_unitmake.cl}}</th>
        </tr>
      </tbody>
    </table>
    <br><hr><br>
    <table id="hp-port-member">
      <thead>
        <tr>
          <th scope="col">Creditor(s) </th>
          <th scope="col">Total Account</th>
          <th scope="col">Active Account</th>
          <th scope="col">O/S (Baht)</th>
          <th scope="col">C/L (Baht)</th>
          <th scope="col">Overdue (Baht)</th>
        </tr>
      </thead>
      <tbody>
        <tr :key="'hp-port-member-row'+index" v-for="(item, index) in hp_port_member">
          <th>{{item.creditor}}</th>
          <td>{{item.totalAccount}}</td>
          <td>{{item.activeAccount}}</td>
          <td>{{item.os}}</td>
          <td>{{item.cl}}</td>
          <th>{{item.overdue}}</th>
        </tr>
        <tr>
          <th>Total</th>
          <th>{{total_hp_port_member.totalAccount}}</th>
          <th>{{total_hp_port_member.activeAccount}}</th>
          <th>{{total_hp_port_member.os}}</th>
          <th>{{total_hp_port_member.cl}}</th>
          <th>{{total_hp_port_member.overdue}}</th>
        </tr>
      </tbody>
    </table>
    <br><hr><br>
    <table id="debt-history">
      <thead>
        <tr>
          <th scope="col">Account Type</th>
          <th scope="col" :key="'debt-history-date-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            As of {{date}}
          </th>
        </tr>
      </thead>
      <tbody :key="'debt-history-account-type-'+accounttype_index" v-for="(accounttype, accounttype_index) in debitHistory_account_type_list">
        <tr>
          <th style=" white-space: nowrap">{{accounttype}}</th>
          <th style="text-align:right" :key="'debt-history-col-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="debitHistory[accounttype] && debitHistory[accounttype][date] && debitHistory[accounttype][date].outstanding">
              {{debitHistory[accounttype][date].outstanding}}
            </div>
            <div v-else>
              -
            </div>
          </th>
        </tr>
        <tr>
          <td style="text-align:right">New Account</td>
          <td style="text-align:right" :key="'debt-history-col-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="debitHistory[accounttype] && debitHistory[accounttype][date] && debitHistory[accounttype][date].newAccount">
              {{debitHistory[accounttype][date].newAccount}}
            </div>
            <div v-else>
              -
            </div>
          </td>
        </tr>
      </tbody>
      <td :colspan="debitHistory_date_list.length">
        <hr>
      </td>
      <tbody>
        <tr>
          <td style="text-align:right">Current</td>
          <td style="text-align:right" :key="'deliquency-current-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="deliquency[date] && deliquency[date].current">
              {{deliquency[date].current}}
            </div>
            <div v-else>
              -
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align:right">Bucket-x</td>
          <td style="text-align:right" :key="'deliquency-bucketX-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="deliquency[date] && deliquency[date].bucketX">
              {{deliquency[date].bucketX}}
            </div>
            <div v-else>
              -
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align:right">Bucket-30</td>
          <td style="text-align:right" :key="'deliquency-bucket30-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="deliquency[date] && deliquency[date].bucket30">
              {{deliquency[date].bucket30}}
            </div>
            <div v-else>
              -
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align:right">Bucket-60</td>
          <td style="text-align:right" :key="'deliquency-bucket60-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="deliquency[date] && deliquency[date].bucket60">
              {{deliquency[date].bucket60}}
            </div>
            <div v-else>
              -
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align:right">Bucket-90+</td>
          <td style="text-align:right" :key="'deliquency-bucket90-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="deliquency[date] && deliquency[date].bucket90">
              {{deliquency[date].bucket90}}
            </div>
            <div v-else>
              -
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align:right">Write-off</td>
          <td style="text-align:right" :key="'deliquency-writeOff-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="deliquency[date] && deliquency[date].writeOff">
              {{deliquency[date].writeOff}}
            </div>
            <div v-else>
              -
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align:right">Grand Total</td>
          <td style="text-align:right" :key="'deliquency-total-'+date_index" v-for="(date, date_index) in debitHistory_date_list">
            <div v-if ="deliquency[date] && deliquency[date].total">
              {{deliquency[date].total}}
            </div>
            <div v-else>
              -
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import json from '../json/response.json'
export default {
  name: 'JSON_Reader',
  data () {
    return {
      summary_credit_by_member_creator_list: [],
      summary_credit_by_member_account_type_list: [],
      summary_credit_by_member: [],
      hp_port_unitmake: json.results.executiveSummaryResponseVO.hpPortfolioUnitMakeVOs,
      total_hp_port_unitmake: json.results.executiveSummaryResponseVO.hpPortfolioUnitMakeVOTotal,
      hp_port_member: json.results.executiveSummaryResponseVO.hpPortfolioMemberVOs,
      total_hp_port_member: json.results.executiveSummaryResponseVO.hpPortfolioMemberVOTotal,
      debitHistory_account_type_list: [],
      debitHistory_date_list: [],
      debitHistory: [],
      totalDebitHistory: [],
      deliquency: []
    }
  },
  methods: {
    reviseDebtHistory: function (debitHistory, totalDebitHistory, deliquency) {
      var newDebtHistory = {}
      var newDeliquency = {}
      var newDebtHistoryAccountTypeList = []
      var newDebtHistoryDateList = []

      debitHistory.forEach(function (element) {
        if (!newDebtHistory[element.accountType]) {
          newDebtHistory[element.accountType] = {}
        }
        newDebtHistory[element.accountType][element.asOfDate] = element

        if (!newDebtHistoryAccountTypeList.includes(element.accountType)) {
          newDebtHistoryAccountTypeList.push(element.accountType)
        }
        if (!newDebtHistoryDateList.includes(element.asOfDate)) {
          newDebtHistoryDateList.push(element.asOfDate)
        }
      })

      totalDebitHistory.forEach(function (element) {
        if (!newDebtHistory[element.accountType]) {
          newDebtHistory[element.accountType] = {}
        }
        newDebtHistory[element.accountType][element.asOfDate] = element

        if (!newDebtHistoryAccountTypeList.includes(element.accountType)) {
          newDebtHistoryAccountTypeList.push(element.accountType)
        }
        if (!newDebtHistoryDateList.includes(element.asOfDate)) {
          newDebtHistoryDateList.push(element.asOfDate)
        }
      })

      deliquency.forEach(function (element) {
        newDeliquency[element.asOfDate] = element
        if (!newDebtHistoryDateList.includes(element.asOfDate)) {
          newDebtHistoryDateList.push(element.asOfDate)
        }
      })

      this.debitHistory = newDebtHistory
      this.deliquency = newDeliquency
      this.debitHistory_date_list = newDebtHistoryDateList
      this.debitHistory_account_type_list = newDebtHistoryAccountTypeList
    },
    reviseSummaryCreditByMember: function (summaryCredit, totalSummaryCredit) {
      var newSummaryCredit = {}
      var newAccountTypeList = []
      var newCreatorList = []

      summaryCredit.forEach(function (element) {
        if (!newSummaryCredit[element.creditor]) {
          newSummaryCredit[element.creditor] = {}
        }

        element.accountTypeDetailList.forEach(function (accountTypeDetail) {
          newSummaryCredit[element.creditor][accountTypeDetail.accountType] = accountTypeDetail
        })

        if (!newCreatorList.includes(element.creditor)) {
          newCreatorList.push(element.creditor)
        }
      })

      newCreatorList.push(totalSummaryCredit.creditor)
      newSummaryCredit[totalSummaryCredit.creditor] = {}

      totalSummaryCredit.accountTypeDetailList.forEach(function (accountTypeDetail) {
        newSummaryCredit[totalSummaryCredit.creditor][accountTypeDetail.accountType] = accountTypeDetail

        if (!newAccountTypeList.includes(accountTypeDetail.accountType)) {
          newAccountTypeList.push(accountTypeDetail.accountType)
        }
      })

      this.summary_credit_by_member = newSummaryCredit
      this.summary_credit_by_member_creator_list = newCreatorList
      this.summary_credit_by_member_account_type_list = newAccountTypeList
    }
  },
  mounted () {
    this.reviseDebtHistory(
      json.results.executiveSummaryResponseVO.debtHistoryVOs,
      json.results.executiveSummaryResponseVO.debtHistoryVOTotal,
      json.results.executiveSummaryResponseVO.deliquencyVOs
    )
    this.reviseSummaryCreditByMember(
      json.results.executiveSummaryResponseVO.creditSummaryByCreditorVOs,
      json.results.executiveSummaryResponseVO.creditSummaryByCreditorVOTotal
    )
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
tr{
  line-height: 2
}
td{
  padding: 0 5px
}
</style>
