<template>
  <div class="executive">

    <!-- Account Status -->
    <fieldset>
      <legend>Account Status</legend>
      <table class="executiveSummary">
          <thead>
              <tr>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Amount of account (s)</th>
                  <th>Never_DQ</th>
                  <th>Ever_DQ</th>
                  <th>Y_Debt Restructure</th>
                  <th>Y_Delinquent Status</th>
                  <th>Current Balance (Baht)</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="data in info.accountStatusVOs" :key="data.id">
                <td>{{data.code}}</td>
                <td>{{data.desctiption}}</td>
                <td>{{ formatPrice(data.noOfAccount) }}</td>
                <td>{{ formatPrice(data.neverDq) }}</td>
                <td>{{ formatPrice(data.everDq) }}</td>
                <td>{{ formatPrice(data.debtRestructure) }}</td>
                <td>{{ formatPrice(data.osCl) }}</td>
                <td>{{ formatPrice(data.currentBalance) }}</td>
              </tr>
          </tbody>
          <tfoot>
            <tr v-for="dataTotal in info.accountStatusVOTotal" :key="dataTotal.id">
              <td colspan="2">{{dataTotal.desctiption}}</td>
              <td>{{ formatPrice(dataTotal.noOfAccount) }}</td>
              <td>{{ formatPrice(dataTotal.neverDq) }}</td>
              <td>{{ formatPrice(dataTotal.everDq) }}</td>
              <td>{{ formatPrice(dataTotal.debtRestructure) }}</td>
              <td>{{ formatPrice(dataTotal.osCl) }}</td>
              <td>{{ formatPrice(dataTotal.currentBalance) }}</td>
            </tr>
          </tfoot>
      </table>
    </fieldset>

    <!-- Information -->
    <fieldset>
      <legend>Information Summary</legend>
      <ul class="information">
        <li>
          <div class="information_l">Total Account(s):</div>
          <div class="information_r">{{ formatPrice(information.totalAccount) }} </div>
        </li>
        <li>
          <div class="information_l">Active Account(s):</div>
          <div class="information_r">{{ formatPrice(information.activeAccount) }} </div>
        </li>
        <li>
          <div class="information_l">Account Overdue(s):</div>
          <div class="information_r">{{ formatPrice(information.accountOverdue) }} </div>
        </li>
        <li>
          <div class="information_l">Total Current Balance/Credit used:</div>
          <div class="information_r">{{ formatPrice(information.totalCurrentBalance) }} </div>
        </li>
        <li>
          <div class="information_l">Total Amount Past due:</div>
          <div class="information_r">{{ formatPrice(information.totalAmountPaseDue) }} </div>
        </li>
        <li>
          <div class="information_l">Total Installment Amount:</div>
          <div class="information_r">{{ formatPrice(information.totalInstallmentAmount) }} </div>
        </li>
        <li>
          <div class="information_l">High Credit Limit:</div>
          <div class="information_r">{{ formatPrice(information.highCreditLimit) }} </div>
        </li>
        <li>
          <div class="information_l">Total Credit Limit:</div>
          <div class="information_r">{{ formatPrice(information.totalCreditLimit) }} </div>
        </li>
        <li>
          <div class="information_l">Under Verfification and Correction/Dispute/Remark:</div>
          <div class="information_r">{{ formatPrice(information.underVerification) }} </div>
        </li>
        <li>
          <div class="information_l">Write-off account (s)</div>
          <div class="information_r">{{ formatPrice(information.writeOffAccount) }} </div>
        </li>
        <li>
          <div class="information_l">Whrite-off amount</div>
          <div class="information_r">{{ formatPrice(information.writeOffAmount) }} </div>
        </li>
        <li>
          <div class="information_l">Enquiry Log (24 mounts):</div>
          <div class="information_r">{{ formatPrice(information.enquiryLog) }} </div>
        </li>
      </ul>
    </fieldset>

    <!-- Credit Summary -->
    <fieldset>
      <legend>Credit Summary</legend>
      <table class="CreditSummary">
        <thead>
          <tr>
            <th>Account Type</th>
            <th>Total Account (s)</th>
            <th>Active Account (s)</th>
            <th>Closed Account (s)</th>
            <th>Overdue (s) > 30days</th>
            <th>Amount Past Due (Active)</th>
            <th>Current Max DPD (Active)</th>
            <th>Installment Amount (Active)</th>
            <th>Credit Limit (Active)</th>
            <th>Current Balance/Credit Used (Active)</th>
            <th>Credit Line with BAY (Bath)</th>
            <th>Credit Line with Bay (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data in creditsummary" :key="data.id">
            <td>{{ data.accountType }}</td>
            <td>{{ formatPrice(data.totalAccount) }}</td>
            <td>{{ formatPrice(data.activeAccount) }}</td>
            <td>{{ formatPrice(data.closedAccount) }}</td>
            <td>{{ formatPrice(data.overdue30Days) }}</td>
            <td>{{ formatPrice(data.amountPastDue) }}</td>
            <td>{{ formatPrice(data.currentMaxDpd) }}</td>
            <td>{{ formatPrice(data.installmentAmount) }}</td>
            <td>{{ formatPrice(data.creditLimit) }}</td>
            <td>{{ formatPrice(data.currentBalance) }}</td>
            <td>{{ formatPrice(data.creditLineWithBay) }}</td>
            <td>{{ formatPrice(data.creditLineWithPayPercent) }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>{{ creditsummaryTotal.accountType ? creditsummaryTotal.accountType : 'Total'  }}</td>
            <td>{{ formatPrice(creditsummaryTotal.totalAccount) }}</td>
            <td>{{ formatPrice(creditsummaryTotal.activeAccount) }}</td>
            <td>{{ formatPrice(creditsummaryTotal.closedAccount) }}</td>
            <td>{{ formatPrice(creditsummaryTotal.overdue30Days) }}</td>
            <td>{{ formatPrice(creditsummaryTotal.amountPastDue) }}</td>
            <td>{{ creditsummaryTotal.currentMaxDpd }}</td>
            <td>{{ formatPrice(creditsummaryTotal.installmentAmount) }}</td>
            <td>{{ formatPrice(creditsummaryTotal.creditLimit) }}</td>
            <td>{{ formatPrice(creditsummaryTotal.currentBalance) }}</td>
            <td>{{ formatPrice(creditsummaryTotal.creditLineWithBay) }}</td>
            <td>{{ formatPrice(creditsummaryTotal.creditLineWithPayPercent) }}</td>
          </tr>
        </tfoot>
      </table>
    </fieldset>

    <!-- Credit Summary Classified by Creditor -->
    <fieldset>
      <legend>Credit Summary Classified by Creditor</legend>
      <table class="CreditSummaryClass">
        <thead>
          <tr >
            <th rowspan="2">Credit/Account Type</th>
            <th v-for="data in colum" :key="data.id" colspan="3">{{ data }}</th>
          </tr>
          <tr>
            <th v-for="data in subcolum" :key="data.id">{{ data }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data in creditSummaryClass" :key="data.id">
            <td v-for="data2 in data" :key="data2.id">{{ formatPrice(data2) }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td v-for="data3 in creditSummaryClassTotal" :key="data3.id">{{ formatPrice(data3) }}</td>
          </tr>
        </tfoot>
      </table>
    </fieldset>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'executive',
  data () {
    return {
      info: '',
      information: '',
      creditsummary: '',
      creditsummaryTotal: '',
      creditSummaryByCreditorVOs: '',
      colum: '',
      subcolum: '',
      creditSummaryClass: '',
      creditSummaryClassTotal: ''
    }
  },
  methods: {
    formatPrice (value) {
      // let val = (value / 1).toFixed(2).replace('.', ',')
      // return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      if (typeof value === 'number') {
        if (value === 0) {
          return '-'
        } else {
          let val = (value / 1).toFixed(2).replace(',', '.')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
        }
      } else {
        return value
      }
    }
  },
  mounted () {
    console.log(this.$params)
    if (!this.$params.applicationNo) {
      this.$swal('applicationNo not found.')
      this.$router.push('/')
    } else {
      const data = {'trackingNo': this.$params.applicationNo}
      const headers = {
        'Content-Type': 'application/json'
      }
      axios
        .post('http://10.100.60.84:8529/ncbCorporate/getNcbData', data, {headers: headers})
        .then(response => {
          this.info = response.data.results.executiveSummaryResponseVO
          this.information = this.info.informationSummaryVO
          this.creditsummary = this.info.creditSummaryByAccountTypeVOs
          this.creditsummaryTotal = this.info.creditSummaryByAccountTypeVOTotal
          this.creditSummaryByCreditorVOs = this.info.creditSummaryByCreditorVOs
          const rawData = this.info.creditSummaryByCreditorVOs
          console.log(this.info.accountStatusVOTotal)
          const data = []
          rawData.forEach(function (e) {
            const data2 = e.accountTypeDetailList
            data2.forEach(function (e2) {
              data.push(e2.accountType)
            })
          })

          let colum2 = [...new Set(data)]
          const typeCount = colum2.length
          let typeSet = []
          for (let i = 0; i < typeCount; i++) {
            typeSet.push('C/L')
            typeSet.push('O/S')
            typeSet.push('Overdue')
          }

          this.colum = colum2
          this.subcolum = typeSet
          this.creditsummaryclass = this.info.creditSummaryByCreditorVOs

          const newdata = []
          rawData.forEach(function (e) {
            const creditor = []
            creditor.name = e.creditor
            const data2 = e.accountTypeDetailList
            let groupType = ''
            let groupTotal = []
            groupTotal.push(e.creditor)
            colum2.forEach(function (value, index) {
              groupTotal.push('-')
              groupTotal.push('-')
              groupTotal.push('-')
            })
            data2.forEach(function (v) {
              groupType = colum2.indexOf(v.accountType)
              groupType = groupType * 3
              groupTotal[groupType + 1] = v.cl
              groupTotal[groupType + 2] = v.os
              groupTotal[groupType + 3] = v.overdue
            })
            // console.log(groupTotal)
            newdata.push(groupTotal)
          })
          // console.log(newdata)
          this.creditSummaryClass = newdata
          /*  ================================================= */
          const rawDataTotal = this.info.creditSummaryByCreditorVOTotal

          const dataTotal2 = rawDataTotal.accountTypeDetailList
          let groupTypeTotal = ''
          let groupTotalTotal = []
          groupTotalTotal.push(rawDataTotal.creditor)
          colum2.forEach(function (value) {
            groupTotalTotal.push('-')
            groupTotalTotal.push('-')
            groupTotalTotal.push('-')
          })
          dataTotal2.forEach(function (v) {
            groupTypeTotal = colum2.indexOf(v.accountType)
            groupTypeTotal = groupTypeTotal * 3
            groupTotalTotal[groupTypeTotal + 1] = v.cl
            groupTotalTotal[groupTypeTotal + 2] = v.os
            groupTotalTotal[groupTypeTotal + 3] = v.overdue
          })
          this.creditSummaryClassTotal = groupTotalTotal
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=Sarabun');
.executive {
  font-family: 'Sarabun', sans-serif;
  .executiveSummary,
  .CreditSummary,
  .CreditSummaryClass {
    background-color: black;
    width: 100%;
    thead {
      th {
        background-color: white;
        padding: 0.5rem 1rem;
      }
    }
    tbody,
    tfoot {
      td {
        background-color: white;
        padding: 0.5rem 1rem;
        &:nth-child(2) {
          text-align: left;
        }
      }
    }
  }

  fieldset {
    .information {
      list-style: none;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      column-gap: 0.5em;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        .information_l {
          width: 100%;
          text-align: left;
          font-weight: bold;
        }
      }
    }
  }
}
</style>
